body {
    background-color: #e8e8e8;

}




h1 {
    color: #202020;
    margin-left: 20px;
}


footer {
  background-color: white;
  height: 4px;

}


h3 {
    color: #181818;
}


div.classy {
  max-width: 100%;
  padding: 15px;
  background-color: red;
  color: white;
}


div.spacer {
  max-width: 100%;
  padding: 15px;
  background-color: gray;
  color: white;
}

div.blue {
  max-width: 100%;
  background-color: dodgerblue;
  color: red;
}
